# ──────────────────────────────────────────────────────────────────────────────
# CONFIGURAÇÕES DA API (MOBILE)
# ──────────────────────────────────────────────────────────────────────────────
# No Expo, toda variável de ambiente precisa começar obrigatoriamente com EXPO_PUBLIC_
# Insira a URL da sua API Django (ex: http://192.168.0.106:8000/api se for local)
EXPO_PUBLIC_API_URL=http://seu-ip-local-aqui:8000/api