
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

*.apk

*.aab
.idea/deviceManager.xml
.idea/estoque-app.iml
.idea/markdown.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/caches/deviceStreaming.xml
.idea/.gitignore
